<div class="mt-4">
    <table class="table mt-4">
        <div>
            <h3>Khóa học của tôi</h3>
            {{!-- {{#if deletedCount}} --}}
            <a href="/me/trash/courses">thùng rác ({{deletedCount}})</a>
            {{!-- {{/if}} --}}
            <div class="mt-4 d-flex align-items-center">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                    <label class="form-check-label" for="checkbox-all">
                        Chọn tất cả
                    </label>
                </div>
                <select class="form-select form-select-sm checkbox-select-all-options" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

                <button type="button" class="btn btn-primary btn-sm d">thực hiện</button>
            </div>
        </div>
        <thead>
            <tr>
                <th></th>
                <th scope="col">#</th>
                <th scope="col">Tên</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            {{#each courses}}
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                
                            </label>
                        </div>
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="/courses/{{this._id}}/edit" class="btn btn-link">sửa</a>
                        <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-id="{{this._id}}" data-bs-target="#delete-course-modal">xóa</a>
                    </td>
                </tr>
            {{else}}
               <td colspan="5" class="text-center">
                    Bạn chưa đang khóa học nào. 
                    <a href="/courses/create">Đăng khóa học</a>
               </td> 
            {{/each}}
        </tbody>
    </table>
</div>


{{!-- confirm delete course --}}
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>bạn có muốn xóa khóa học này ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>

{{!-- delete hidden form                      action="/courses/{{course._id}}?_method=PUT"--}}
<form name="delete-course-form" method="POST" ></form>


<script>
    var courseId;
    var deleteForm = document.forms['delete-course-form'];


    var checkboxAll = document.getElementById('checkbox-all');
    console.log(checkboxAll);

    checkboxAll.onchange = function () {
        {{!-- alert(checkboxAll); --}}
        console.log((checkboxAll).checked);
    };



    {{!-- checkboxAll.onchange = checkboxFunction(){
        {
        alert(checkboxAll)
    }
    } --}}


    ///////////////////////////////////////////////////////////////
    var pressDeleteModal = document.getElementById('delete-course-modal')   
    //document.addEventListener('show.bs.modal', function (event) {
    pressDeleteModal.addEventListener('show.bs.modal', function (event) { // 
        // Button that triggered the modal
        
        var button = event.relatedTarget
        var id = button.getAttribute('data-bs-id')
        console.log(id);  
        courseId=id;
    })


    var pressButtonDelete = document.getElementById('btn-delete-course')
    pressButtonDelete.onclick = function(){
        //alert(courseId);
        deleteForm.action = '/courses/'+ courseId +'?_method=DELETE';
        deleteForm.submit();
    }

</script>